


@media screen and (min-width: 320px)  {


    header {

        text-align: center;
        min-height: 128vh;
    }


    .name{
     
      padding: 10px;
        
    }
    .container{

        width: 86%;
        display: inline-block;
        text-align: center;
        margin-bottom: 1rem;
        
        


    }
    .main-nav{
       padding: 0;

    }
   
    .main-nav li  {
 
    
     background-color: #fff;
     border-radius: 7px;
     padding-inline-start: 0;
     padding: 5px;
    margin-bottom: 6px;
    
         
    }
 
 figure {

    margin: 0;
 }
 .image {
 
     width: 66%;
     margin-bottom: 1rem;
     
     
 }
 
 
 .article{
 
   
     min-height: 15vh;
   
     
 }

 
 h3 {
    padding-top: 1rem;
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
    
 }


 h5 {
    margin-bottom: 0px;

 }


 h6 {
 
     text-align: center;
     font-size: 0.83rem;
     margin-top: 15px;
     margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    
     
 }
 .row p {

    margin-bottom: 2rem;
    
 }
 p {
 
   
     font-size: 88%;
     color: rgb(168, 167, 167);
     margin-bottom: 2.5rem;
    
    
 }
 
 .row {
 
     text-align: center;
 }

 .sub{

padding: 1rem;

 }
 .item {
 
     width: 95%;
     
 }
 .contactfoot{

    color: rgb(168, 167, 167);
    padding: 1rem;
    line-height: 2rem;
 }
 
 .backtotop{


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: 900;
    padding: 2rem 1rem 2rem 1rem;
    font-size: 0.8rem;
    font-weight: 900;
    
 }
 
 figcaption{

    text-align: center;
 }
 }

 @media screen and (min-width: 500px)  {


    header {

        text-align: center;
        min-height: 50vh;
    }

    .container {

        text-align: center;
    }

    div .name {

        margin: 0;
        display: flex;
        justify-content: space-around;
     }



    .name{
    
      padding: 10px;
        
    }
    .container{

        width: 86%;
        display: inline-block;
        text-align: center;
        margin-bottom: 1rem;
        
        


    }
    .main-nav{
       padding: 0;

    }
   
    .main-nav li  {
 
    
     background-color: #fff;
     border-radius: 7px;
     padding-inline-start: 0;
     padding: 11px;
    margin-bottom: 6px;
    
    
         
    }
 
 
 .image {
 
     width: 66%;
     margin-bottom: 1rem;
     
     
 }
 
 
 .article{
 
   
     min-height: 20vh;
    
     
 }

 
 h3 {
    padding-top: 1rem;
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
    
 }


 h5 {
    margin-bottom: 0px;

 }


 h6 {
 
     text-align: center;
     font-size: 0.83rem;
     margin-top: 15px;
     margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    
     
 }
 .row p {

    margin-bottom: 2rem;
    
 }
 p {
 
   
     font-size: 88%;
     color: rgb(168, 167, 167);
     margin-bottom: 2.5rem;
    
    
 }
 
 .row {
 
     text-align: center;
 }

 .sub{

padding: 1rem;

 }
 
 .contactfoot{

    color: rgb(168, 167, 167);
    padding: 1rem;
    line-height: 2rem;
 }
 
 .backtotop{


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: 900;
    padding: 2rem 1rem 2rem 1rem;
    font-size: 0.8rem;
    font-weight: 900;
    
 }
 
 figcaption{

    text-align: center;
 }
 }

 @media screen and (min-width: 768px) {
 

    header {

        text-align: center;
        min-height: 60vh;
    }

.container{

    margin-bottom: 2rem;
}


    .name {

        margin: 0;
    }
   
    
   div .name {

       display: flex;
       justify-content: space-around;
    }

    .main-nav {

       display: flex;
       justify-content: center;
       margin: 0;
        
    }

    .main-nav li{
float: left;
background-color: transparent;
margin: 1rem;
        
      }

 
.row {

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px;
}

.article {

   
     min-height: 0;  
    text-align: left;
    
}
.text-intro {

    
    margin: 0;
}

 .image{

    width: 50%;
   
}
 }
 
 @media screen and (min-width: 1024px) {
 
     .container {

        display:flex;
        justify-content: space-between;
        margin-top: 1rem;
     }
 
     div .name {

        margin-left: 1.5rem;
        margin-top: 3rem;
     }

     .main-nav {

        margin-top: 3rem;
        margin-right: -6rem;
        
     }

     .main-nav li {

        font-size: 10px;
     }
 }

 