


/* font-family: 'Alegreya Sans SC', sans-serif;
 <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap" rel="stylesheet"> */

body {

    font-family: "verdana regular",'Alegreya Sans SC',"Lucida Grande", "Optima",  sans-serif;
    background-color: rgb(243, 243, 243);
}

/* main style */

header {


}
div .name {
margin-bottom: 1rem;
   
}

div {

   
}

.row {

    
    border: 2px solid red;
}

h6 {

    text-align: center;
    
}

.nav {

    
    list-style: none; 
    padding-inline-start: 0px;
    
 
 }

 .nav li {


    padding: 7px;
    margin: 3px;
   

    


 }

.nav a {

    padding: 1rem;
   
}




@media screen and (max-width: 1024px) {
  

    
    }

   




