


/* font-family: 'Alegreya Sans SC', sans-serif;
 <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap" rel="stylesheet"> */
 * {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {

    
    width: 100%;
    text-align: center;
    font-family: "verdana regular",'Alegreya Sans SC',"Lucida Grande", "Optima",  sans-serif;
    background-color:white;
    margin: 0 auto;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* main style */

header {
    text-align: center;
    background-color:rgb(245, 245, 245);


}

.header {

    font-size: 10px;
}

.container {

    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.main-nav li {

    background-color: #fff;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 7px;
}

.name {

    padding: 2rem;
}

.first{

    width: 100%;
    margin: 0 auto;

}
.image{

    width: 75%;
    margin: 0 auto;
   
}

p{

    font-size: 10px;
    color: rgb(165, 165, 165);
    
}

.sub {

    font-size: 12px;
    color: rgb(165, 165, 165);  
}

.text-intro {

    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 2rem;
    padding: 1rem;
}


.main-nav {

    margin-bottom: 2rem;
}
.row p {

    margin-bottom: 2rem;
    
 }



h5 {

    margin-bottom: 1rem;
    padding: 1rem;
}

h6 {

    text-align: center;
   margin: 3rem auto;
}

.row{

    width: 90%;
    margin: 0 auto;
}

.section{

    margin: 2rem 0 0 0;
}
.item {

    width: 95%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
footer {

    text-align: center;
    background-color:rgb(245, 245, 245);
 
}

.textcontact{

    font-size: 14px;
    margin-bottom: 2rem;

}

.contactfoot {

    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 14px;
    color: rgb(165, 165, 165);


}

span{

    margin-bottom: 1rem;
    display: inline-block;
}


.nav a {

    padding: 1rem;
   
}

a {

    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
}

ul {

    list-style: none;
}

.bottom {

display: none;
}

.backtotop{

    margin-top: 2rem;

}
.student {

    float: left;
}

.back{

    float: right;
}


   







